/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Root Elements */

:root {
  --Spotyfy--Main_Text: #ffffff;
  --Spotyfy--Small_Text: #7d7f83;
  --Spotyfy--Sidebar_bg: #000000;
  --Spotify--Main_bg: #141922;
  --Spotify--Transparent_bg: #080b12;
  --Spotify--Bottom_bg: #282828;
}

/* Common Rules */

.white_text {
  color: var(--Spotyfy--Main_Text);
  font-weight: bold;
  margin: 0.5rem 0rem;
}

.grey_text {
  color: var(--Spotyfy--Small_Text);
  margin: 0.5rem 0rem;
}

.container_main {
  margin: 1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: center;
}

.radius {
  border-radius: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 6 - 1rem);
  flex-basis: auto;
  margin-right: 1rem;
}

/* Page Elements */

.wrapper {
  height: 100vh;
  background-color: grey;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: var(--Spotyfy--Sidebar_bg);

  .side_content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      span {
        font-size: 25px;
      }
    }
  }

  .top_nav {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;

    span {
      margin: 0.5rem 0rem;
      color: var(--Spotyfy--Small_Text);
      img {
        display: inline;
      }
    }
  }

  .playlists {
    margin-top: 1rem;
    margin-bottom: 2rem;
    span {
      color: var(--Spotyfy--Main_Text);
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0.5rem 0rem;
    }

    li {
      list-style: none;
      margin: 0.5rem 0rem;
      color: var(--Spotyfy--Small_Text);
      i {
        background-color: var(--Spotyfy--Small_Text);
        color: var(--Spotyfy--Sidebar_bg);
        padding: 0.5rem;
      }
    }
  }

  .bottom_side {
    hr {
      margin: 0.5rem 0rem;
    }
  }
}

/* Main App Content */

.upper_app {
  height: calc(100% - 70px);
  background-color: var(--Spotify--Main_bg);
  display: flex;

  .song_select {
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: auto;
  }

  .upgrade {
    background-color: var(--Spotify--Transparent_bg);
    opacity: 75%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    align-self: center;

    .upgrade_button {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      margin-right: 1rem;
      padding: 1rem;
      border: 2px solid white;
      border-radius: 1rem;
    }
  }

  .top_menu {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      li {
        margin: 1rem;
        color: var(--Spotyfy--Small_Text);
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .container_main {
    .card {
      figcaption {
        text-align: center;
        margin: 0.75rem 0rem;
      }
    }
  }
}

.bottom_app {
  height: 70px;
  background-color: var(--Spotify--Bottom_bg);
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .bottom_left {
    display: flex;
    .favourite {
      align-content: center;
      i {
        margin: 1rem;
      }
    }
  }

  .bottom_center {
    .player {
      i {
        margin: 0.75rem;
      }
    }
  }

  .bottom_right {
    .controls {
      i {
        margin: 0.75rem;
      }
    }
  }
}
